/* MOBILE */
.btn-mobile-nav {
   border: none;
   background: none;
   cursor: pointer;
   display: none;
   height: 3.8rem;
   width: 3.8rem;
}

.icon-mobile-nav {
   // font-size: 3.8rem;

   height: 4rem;
   width: 4rem;
   color: $color-primary-50;
   display: block;

   @media only screen and (max-width:$bp-small) {
      color: $color-primary-900;
   }
}

.icon-mobile-nav[name="close-outline"] {
   color: $color-primary-900;
   display: none;
   // position: fixed;
   // top: 8px;
   // right: 30px;
}

.mobile-btn_div {


   display: none;

   .nav-verification {
      // display: none;

      @media only screen and (max-width:$bp-mid) {
         display: none;
      }
   }
}


@media only screen and (max-width:$bp-big) {
   .mobile-btn_div {

      display: flex;
      gap: 1.5rem;
      margin-top: 1.5rem;

   }

   .btn-mobile-nav {
      display: block;
      z-index: 99999999999;
   }

   .navigation-header.nav-open {
      width: 100%;
      top: 0;
      bottom: 0;
   }

   .main-nav {
      // z-index: 100;
      background-color: rgba($color-primary-50, 0.951);
      -webkit-backdrop-filter: blur(5px);
      position: absolute;
      top: 0;
      right: 0;
      height: 100vh;
      width: 100%;
      transform: translateY(-100%);
      transform: translateX(100%);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .2s ease-in;
      transition: all .8s cubic-bezier(0.68, -0.5, 0.265, 1.55);
      opacity: 0;

      /* Make it unaccessible to mouse and keyboard */
      pointer-events: none;

      /* Hide it from screen readers */
      visibility: hidden;

      &-list {
         flex-direction: column;
         font-size: 1rem;
      }
   }

   .nav-open .main-nav {
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
      transform: translateX(0);
   }

   .nav-open .icon-mobile-nav[name="close-outline"] {
      display: block;
   }

   .nav-open .icon-mobile-nav[name="menu-outline"] {
      display: none;
   }


}