.initial-navigation {
   display: flex;
}

.sticky-nav {
   position: fixed !important;
   top: 0 !important;
   left: 0 !important;
   right: 0 !important;
   width: 100% !important;
   max-width: 100% !important;
   height: 7rem !important;
   padding-top: 0 !important;
   padding-bottom: 0 !important;
   background-color: rgba($color-primary-50, 0.7) !important;
   backdrop-filter: blur(5px);
   box-shadow: 0 1.2rem 3.2rem rgba($color-primary-400, 0.2) !important;
   border-radius: 0 !important;

   @media only screen and (max-width:$bp-larger) {
      height: 6rem !important;
   }

   @media only screen and (max-width:$bp-big) {
      height: 5rem !important;
   }

   .main-nav-link {
      color: $color-primary-500 !important;

   }

   .main-nav-link_icon:not(.active) {
      background-color: $color-primary-500 !important;
      transition: background-color 0.3s ease;
   }

   .main-nav-list_single.active {
      .main-nav-link_icon {
         background-color: $color-secondary-500 !important;
      }
   }

   .nav-socials {

      color: $color-primary-500 !important;
   }

   .icon-mobile-nav {

      color: $color-primary-900;

   }

}

.navigation-header {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   z-index: 9999999;

   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 6rem;
   // max-width: 100rem;
   width: 100%;
   padding: 0 3rem;

   margin: 0 auto;
   transition: all 0.3s ease;

   overflow: hidden;

   @media only screen and (min-width: $bp-monitor) {
      width: 160rem;
   }

   @media only screen and (max-width:$bp-larger) {
      width: 100%;
      height: 6rem;
      padding: 1.5rem;

   }

   @media only screen and (max-width:$bp-big) {
      // width: 80%;
      height: 5rem;
      padding: 1rem;
   }

   .logo-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 6rem;
      max-width: 20rem;
      width: 70%;
      padding: 0.5rem;
      background-color: $color-primary-900;
      border-radius: 0px 0px 35px 35px;
      -webkit-border-radius: 0px 0px 35px 35px;
      -moz-border-radius: 0px 0px 35px 35px;

      .logo {
         height: 4rem;
         margin-top: 0.7rem;


         @media only screen and (max-width:$bp-big) {
            height: 3rem;
         }
      }

      .text-logo {
         font-size: 2rem;
         color: $color-grey-light-1;
      }
   }

   .main-nav {
      display: flex;

      @media only screen and (max-width:$bp-mid) {
         flex-direction: column;
         align-items: center;
         gap: 2rem;
      }

      .nav-verification {

         @media only screen and (max-width:$bp-big) {
            display: none;
         }

         @media only screen and (max-width:$bp-mid) {
            display: block;
         }
      }
   }

   .main-nav-list {
      list-style: none;
      display: flex;
      gap: 1rem;
      align-items: center;

      li {
         display: flex;
         align-items: center;
         gap: 0.2rem;
         position: relative;


         &:hover,
         &:focus {

            .main-nav-link_icon {
               background-color: $color-primary-500;
               transform: scale(1.2);
               transition: background-color 0.3s ease, transform 0.3s ease;
            }
         }

         &.active {
            .main-nav-link_icon {
               background-color: $color-secondary-500;
            }
         }

         .main-nav-link_icon {
            bottom: 0;
            left: 0;
            display: block;
            content: '';
            height: 10px;
            width: 10px;
            border-radius: 100px;
            background-color: $color-primary-500;
         }

         .main-nav-link {
            display: inline-block;
            text-decoration: none;
            color: $color-primary-500;
            font-weight: 600;
            font-size: 1.6rem;
            padding: 1rem;

            @media only screen and (max-width:$bp-big) {
               font-size: 2rem;
            }
         }
      }
   }

   .nav-socials {
      display: flex;
      font-size: 3rem;
      color: $color-primary-50;

      gap: 5rem;
      justify-content: center;
      align-items: center;
      height: max-content;

      .social-icon {
         transition: all .3s ease;

         &:hover {
            transform: scale(1.1);
            cursor: pointer;
         }
      }
   }

   .button-group {

      @media only screen and (max-width:$bp-big) {
         flex-direction: column;
         gap: 2rem;
      }

      .hero-btn-dark {
         font-size: 1.2rem;
         padding: 1rem 1.5rem;
         margin-right: 0;
         width: max-content;

         @media only screen and (max-width:$bp-big) {
            font-size: 1.5rem;

            margin: 1rem 0;
         }
      }
   }
}